body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  min-height: 100vh;
  background: url("/background.png") no-repeat center center fixed;
  background-size: cover;
  background-position: 5% 10%;
  cursor: url("/cursor/cursor.cur"), auto;
  caret-color: transparent;
}

/* 页头 */
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid aquamarine;
  background: rgba(255, 255, 255, 0.2); /* 半透明白 */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari 兼容 */
}

.cursor-pointer {
  cursor: url("/cursor/cursor.cur"), pointer;
}
.title {
  margin: 0;
  font-size: 1.5rem;
  background: linear-gradient(90deg, lightgreen, lightcyan, cyan);
  background-clip: text; /* 标准属性，兼容性更好 */
  -webkit-background-clip: text; /* 只裁剪文字区域 */
  -webkit-text-fill-color: transparent; /* 文字填充透明，露出背景 */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 2px solid aquamarine;
  background: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #ce6a6a;
}

.sidebar-btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  text-decoration: none;
}

.sidebar-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: lightcyan;
  transition: color 0.2s;
}

.sidebar {
  position: fixed;
  left: -240px; /* 默认隐藏在左侧外面 */
  top: 0;
  width: 200px;
  height: 100%;
  background: rgba(73, 73, 73, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: left 0.4s;
  z-index: 100;
  padding: 2rem 1rem;
}

.sidebar.active {
  left: 0; /* 显示侧边栏 */
}
.sidebar.active {
  left: 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 1rem;
}
.sidebar a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.sidebar a:hover {
  color: aquamarine;
}

.content {
  margin-left: 0;
  padding: 2em;
  transition: margin-left 0.3s;
}

.sidebar-word {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid aqua;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  color: lightcyan;
  text-align: center;
}

/* 主内容 */
.content {
  padding: 1rem;
}

.post {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid aqua;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  color: lightcyan;
}

.post-title {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  color: #21beee;
}

.post-meta {
  font-size: 0.9rem;
  color: #d4d4d4;
  margin-bottom: 1rem;
}

.post-content p {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: lightblue;
}

.read-more-btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  transition: color 0.2s;
  color: #222;
  text-decoration: none;
}

.read-more-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  color: rgb(0, 255, 234);
  text-decoration: none;
}

body::before {
  content: "";
  position: absolute;
  inset: 0; /* 顶部、右、底、左全覆盖 */
  background: rgba(0, 0, 0, 0.5); /* 半透明白色蒙层 */
  z-index: -1; /* 保证在内容下面 */
}
